{% extends 'base.html' %}
{% load static %}
{% block title %}
  Shop
{% endblock %}

{% block content %}
  <!-- Shop Section Begin -->
  <section class="shop spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="shop__sidebar">
            <div class="shop__sidebar__accordion">
              <div class="accordion" id="accordionExample">
                <div class="card">
                  <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                  </div>
                  <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                      <div class="shop__sidebar__categories">
                        <ul class="nice-scroll">
                          <li>
                            <a href="{% url 'products' %}">All Products</a>
                          </li>
                          {% for category in categories %}
                            <li>
                              <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="shop__product__option">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6"></div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="shop__product__option__right">
                  <p>Sort by Price:</p>
                  <select onchange="location = this.value;">
                    <option value="{% url 'products' %}?sort=low">Low To High</option>
                    <option value="{% url 'products' %}?sort=high">High To Low</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            {% for product in products %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="product__item">
                  <a href="{% url 'product_detail' product.id %}"><div class="product__item__pic set-bg" data-setbg="{{ product.image.url }}"></div></a>
                  <div class="product__item__text">
                    <h6>{{ product.name }}</h6>
                    <a href="#" class="add-cart">+ Add To Cart</a>
                    <div class="rating">
                      <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
                    </div>
                    <h5>${{ product.price }}</h5>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          {% comment %} <div class="row">
            <div class="col-lg-12">
              <div class="product__pagination">
                <a class="active" href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <span>...</span>
                <a href="#">21</a>
              </div>
            </div>
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </section>
  <!-- Shop Section End -->
{% endblock %}
