{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Male_Fashion Template" />
    <meta name="keywords" content="Male_Fashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}
        My Site
      {% endblock %}
    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap" rel="stylesheet" />

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  </head>

  <body style="scroll-behavior: smooth;">
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__option">
        {% comment %} <div class="offcanvas__links">
          <a href="#">Sign in</a>
          <a href="#">FAQs</a>
        </div> {% endcomment %}
        <div class="offcanvas__top__hover">
          <span>Language <i class="arrow_carrot-down"></i></span>
          <ul>
            <li>English</li>
            <li>Arabic</li>
          </ul>
        </div>
      </div>
      <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt="Search" /></a>

        <a href="{% url 'cart' %}">
          <img src="{% static 'img/icon/cart.png' %}" alt="Cart" />
          <span class="cart-count">({{ request.session.cart|length }})</span>
        </a>
        <!-- <div class="price">$0.00</div> -->
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header">
      <div class="header__top">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7">
              <div class="header__top__left">
                <p>Free shipping, 30-day return or refund guarantee.</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-5">
              <div class="header__top__right">
                {% comment %} <div class="header__top__links">
                  <a href="#">Sign in</a>
                  <a href="#">FAQs</a>
                </div> {% endcomment %}
                <div class="header__top__hover">
                  <span>Language <i class="arrow_carrot-down"></i></span>
                  <ul>
                    <li>English</li>
                    <li>Arabic</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3">
            <div class="header__logo">
              <a href=""><img src="{% static 'img/logo.png' %}" alt="" /></a>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <nav class="header__menu mobile-menu">
              <ul>
                <li class="">
                  <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                  <a href="{% url 'products' %}">Shop</a>
                  <ul class="dropdown">
                    <li>
                      <a href="{% url 'products' %}">All Products</a>
                    </li>
                    {% for category in categories %}
                      <li>
                        <a href="{% url 'category_products' category.id %}">{{ category.name }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>

                {% comment %} <li>
                  <a href="./shop.html">Story</a>
                </li> {% endcomment %}
                <li>
                  <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                  <a href="{% url 'contact' %}">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="header__nav__option">
              <a href="#" class="search-switch"><img src="{% static 'img/icon/search.png' %}" alt="Search" /></a>

              <a href="{% url 'cart' %}">
                <img src="{% static 'img/icon/cart.png' %}" alt="Cart" />
                <span class="cart-count">({{ request.session.cart|length }})</span>
              </a>
              <!-- <div class="price">$0.00</div> -->
            </div>
          </div>
        </div>
        <div class="canvas__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->

    {% block content %}

    {% endblock %}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="footer__about">
              <div class="footer__logo">
                <a href="#"><img src="{% static 'img/logo2.png' %}" alt="" /></a>
              </div>
              <p>The customer is at the heart of our unique business model, which includes design.</p>
              <!-- <a href="#"><img src="img/payment.png" alt="" /></a> -->
              <span class="hero__social">
                <a href="#"><i class="fab fa-facebook text-light"></i></a>
                <a href="#"><i class="fab fa-twitter text-light"></i></a>
                <a href="#"><i class="fab fa-tiktok text-light"></i></a>
                <a href="#"><i class="fab fa-instagram text-light"></i></a>
              </span>
            </div>
          </div>
          <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Quick Links</h6>
              <ul>
                <li>
                  <a href="#">Home</a>
                </li>
                <li>
                  <a href="#">Shop</a>
                </li>
                <li>
                  <a href="#">Story</a>
                </li>
                <li>
                  <a href="#">About</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="footer__widget">
              <h6>Contact</h6>
              <ul>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">Admin</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
            <div class="footer__widget">
              <h6>NewLetter</h6>
              <div class="footer__newslatter">
                <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                <form action="{% url 'subscribe_newsletter' %}" method="post">
                  {% csrf_token %}
                  {{ newsletter_form.email }}
                  <button type="submit"><span class="icon_mail_alt"></span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="footer__copyright__text">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              <p>
                Copyright ©<script>
                             document.write(new Date().getFullYear())
                           </script>All rights reserved | Life Quality
              </p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form" method="get" action="{% url 'search' %}">
          <input type="text" id="search-input" name="q" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper('.mySwiper', {
        slidesPerView: 1,
        spaceBetween: 30,
        loop: true,
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        breakpoints: {
          768: {
            slidesPerView: 2
          },
          992: {
            slidesPerView: 3
          }
        }
      })
    </script>
    <script>
      var swiper = new Swiper('.new-arrivals-slider', {
        loop: false,
        spaceBetween: 20,
        speed: 800, // <- ADD THIS: smooth slide speed in milliseconds (800ms)
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev'
        },
        autoplay: {
          delay: 5000,
          disableOnInteraction: false
        },
        breakpoints: {
          0: {
            slidesPerView: 1
          },
          576: {
            slidesPerView: 2
          },
          768: {
            slidesPerView: 3
          },
          992: {
            slidesPerView: 4
          }
        }
      })
    </script>
  </body>
</html>
